<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>
  <meta name="author" content="{{ site.author.name }}"> 
  {% if page.title == "Home" %}
  <meta property="og:url" content="{{ site.baseurl }}{{ post.id }}" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ site.title }} &middot; {{ site.tagline }}" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:image:url" content="{{ site.logo }}" />
  <meta property="fb:app_id" content="{{ site.fb_app_id }}" />
  <meta property="og:locale" content="id_ID" />
  {% else if page.title == "Blog" %}
  <meta property="og:url" content="{{ site.baseurl }}{{ post.id }}" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ page.title }} &middot; {{ site.title }}" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:image:url" content="{{ site.logo }}" />
  <meta property="fb:app_id" content="{{ site.fb_app_id }}" />
  <meta property="og:locale" content="id_ID" />
  {% else %}
  <meta property="og:url" content="{{ site.baseurl }}{{ post.id }}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ page.title }} &middot; {{ site.title }}" />
  <meta property="og:description" content="{{ page.content }}" />
  <meta property="og:image:url" content="{{ page.image }}" />
  <meta property="fb:app_id" content="{{ site.fb_app_id }}" />
  <meta property="og:locale" content="id_ID" />
  {% endif %}

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/main.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">

  <!-- RSS -->
  {% feed_meta %}	
  {% if site.mathjax %}
  <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_SVG"> </script>
  <script type="text/x-mathjax-config">
MathJax.Hub.Config({ tex2jax: { inlineMath: [ ['$','$'], ["\\(","\\)"] ], processEscapes: true } });
  </script>
  {% endif %}
</head>
